.button{
    -fx-background-radius: 10;
}
.text-field{
    -fx-border-width: 3;
    -fx-border-radius:8;
    -fx-background-radius:8;
}
.text-area{
    -fx-border-width: 3;
    -fx-border-radius:8;
    -fx-background-radius:8;
}

